altgraph==0.17.4
astroid==3.3.10
beautifulsoup4==4.13.4
boolean.py==5.0
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
defusedxml==0.7.1
filelock==3.18.0
idna==3.10
iniconfig==2.1.0
license-expression==30.4.1
macholib==1.16.3
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.1
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pluggy==1.6.0
Pygments==2.19.1
pyinstaller==6.14.1
pyinstaller-hooks-contrib==2025.5
pyparsing==3.2.3
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pytest==8.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
rich==14.0.0
setuptools==80.9.0
six==1.17.0
sortedcontainers==2.4.0
soupsieve==2.7
toml==0.10.2
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
