altgraph==0.17.4
astroid==3.3.10
beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
iniconfig==2.0.0
macholib==1.16.3
numpy==2.2.3
packaging==24.2
pandas==2.2.3
pluggy==1.5.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
pytest==8.3.5
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
setuptools==80.8.0
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
